/**
 * Enables separating out of IE speceific css.
 */
$fix-mqs: false !default;

@mixin respond-min($width) {
  @if $fix-mqs {
    @if $fix-mqs >= $width {
      @content;
    }
  }
  @else {
    @media screen and (min-width: $width) {
      @content;
    }
  }
}
@mixin respond-max($width) {
  @if $fix-mqs {
    @if $fix-mqs <= $width {
      @content;
    }
  }
  @else {
    @media screen and (max-width: $width) {
      @content;
    }
  }
}

$ie-ver: '' !default;

@mixin ie($ver) {
  @if $ver == $ie-ver {
    @content;
  }
}

@mixin user-select($string:none) {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: $string;
      -webkit-user-select: $string;
       -khtml-user-select: $string;
         -moz-user-select: $string;
          -ms-user-select: $string;
              user-select: $string;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}


@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin text-shadow($opacity: 0.8) {
  text-shadow: 0px 0px 1px rgba(0,0,0,$opacity);
}

@function get-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000; // Lighter backgorund, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}
