@import "../_variables";
@import "../_mixins";

.header {
	position: static;
	color: get-text-color($headerColor1);

	@include linear-gradient($headerColor1, $headerColor2);

	.header-wrapper {
		padding: 25px 0;

		h1 {
			margin: 0;
			padding: 0;
		}		
	}
}